{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row toypage-header">
        <div class="col-4 toypage-path">path/path</div>
        <div class="col-4 toypage-quantity">
            <p>... Products found</p>
        </div>
        <div class="col-4 toypage-filter">Add Sorting & Filter</div>                
    </div>
    <div class="row">
        <div class="col-6">
            <a href="/" class="toy-box mx-auto">  
                {% if toy.image %}            
                    <div>
                        <img src="../media/{{ toy.image }}" class="toy-image" 
                        alt="{{ toy.name }}">
                    </div>
                {% else %}  
                    <div>
                        <img src="../media/no_image_available.jpg" class="toy-image" alt="no image">
                    </div>                
                {% endif %}
            </a>                    
        </div>
        <div class="col-6">
            <p class="toy-name md-font">{{ toy.name }}</p>           
            <p>{{ toy.age }} | Item # {{ toy.sku }}</p>                      
            <p class="toy-price md-font">£{{ toy.price }}</p>  
            <p class="toy-price md-font">{{ toy.description }}</p> 
            <div>
                <p>Qty:</p>
            </div>  
            <div>
                <button>-</button>
                <input type="text">
                <button>+</button>
            </div>           
            <div>
                <button class="buy-button">Add to cart</button> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Reviews</p>
            <div>
                <p>If no review, show text 'Write the First Review'</p>
                <button>Add review</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}