{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'toys/css/toys.css' %}">   
{% endblock %}

{% block content %}
<div class="container">
    <div class="row toypage-header sm-font">
        <div class="col-4">
            <a href="/">home</a>
            {{ request.path }}
        </div>
        <div class="col-4 toypage-quantity">
            <p>
                {{ toys.count }} toy{% if toys.count > 1 or toys.count == 0 %}s
                {% endif %} 
                found             
            </p>
        </div>        
        <div class="col-4 toypage-filter dropdown">
            <button class="btn btn-danger dropdown-toggle toy-filter-button" type="button" data-toggle="dropdown">Filter by Age
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'toys' %}">All</a>
                </li>                
                <li>
                    <a href="{% url 'toys' %}?age=Ages 0-2">Ages 0-2</a>
                </li>
                <li>
                    <a href="{% url 'toys' %}?age=Ages 3-7">Ages 3-7</a>
                </li>
                <li>
                    <a href="{% url 'toys' %}?age=Ages 8-12">Ages 8-12</a>
                </li>
            </ul>
        </div>   
    </div>
    {% if toys.count == 0 %}
    <div class="toys-count-zero">
        <p>No toys found</p>
    </div>
    {% endif %}
    <div class="row">
        {% for toy in toys %}  
        <div class="col-4 toy-box-wrapper">
            <a href="{% url 'toy_detail' toy.id %}" class="toy-box mx-auto">  
                {% if toy.image %}            
                    <div>
                        <img src="{{ MEDIA_URL }}{{ toy.image }}" class="toy-image" 
                        alt="{{ toy.name }}">
                    </div>
                {% else %}  
                    <div>
                        <img src="{{ MEDIA_URL }}no_image_available.jpg"  class="toy-image" alt="no image">
                    </div>                
                {% endif %}
                <p class="toy-name md-font">{{ toy.name }}</p>           
                <p>{{ toy.age }}</p>                      
                <p class="toy-price md-font">£{{ toy.price }}</p>  
                <div>
                    <button class="buy-button">Add to cart</button> 
                </div>
            </a>                    
        </div>
        {% endfor %}         
    </div>
</div>
{% endblock %}