{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/toys.css' %}">   
{% endblock %}

{% block content %}

<div class="container">
    <div class="row toypage-header">
        <div class="col-4 toypage-path">{{ request.get_full_path }}</div>
        <div class="col-4 toypage-quantity">
            <p>
                {{ toys.count }} toy{% if toys.count > 1 %}s
                {% endif %} 
                found             
            </p>
        </div>
        <div class="col-4 toypage-filter dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Filter by Age
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'toys' %}">All</a>
                </li>                
                <li>
                    <a href="{% url 'toys' %}?age=Ages 0-2">Ages 0-2</a>
                </li>
                <li>
                    <a href="{% url 'toys' %}?age=Ages 3-7">Ages 3-7</a>
                </li>
                <li>
                    <a href="{% url 'toys' %}?age=Ages 8-12">Ages 8-12</a>
                </li>
            </ul>
        </div>   
    </div>
    <div class="row">
        {% for toy in toys %}  
        <div class="col-4">
            <a href="{% url 'toy_detail' toy.id %}" class="toy-box mx-auto">  
                {% if toy.image %}            
                    <div>
                        <img src="../media/{{ toy.image }}" class="toy-image" 
                        alt="{{ toy.name }}">
                    </div>
                {% else %}  
                    <div>
                        <img src="../media/no_image_available.jpg" class="toy-image" alt="no image">
                    </div>                
                {% endif %}
                <p class="toy-name md-font">{{ toy.name }}</p>           
                <p>{{ toy.age }}</p>                      
                <p class="toy-price md-font">£{{ toy.price }}</p>  
                <div>
                    <button class="buy-button">button</button> 
                </div>
            </a>                    
        </div>
        {% endfor %}         
    </div>
</div>
{% endblock %}