{% extends "base.html" %}
{% load static %}

{% block content %}

    {% if item in cart %}

    {% else %}  
    <div class="container">
        <div class="row">
            <div class="col-12 cart-header">
                <p>
                    Shopping Bag
                </p>   
                <hr class="cart-separator">   
            </div>
        </div>
        <div class="row cart-items sm-font">
            <div class="col-2">Image</div>
            <div class="col-2">
                <p>Title</p>
                <p>Test Title</p>
            </div>
            <div class="col-2">
                <p>Price</p>
                <p>Test Price</p>
            </div>   
            <div class="col-2">
                <p>Quantity</p>
                <p>Test Qty Delete</p>
            </div>  
            <div class="col-2 offset-2">
                <p>Subtotal</p>
                <p>Test Subtotal</p>
            </div>                                               
        </div>
        <hr class="cart-separator">
        <div class="row">
            <div class="col-2 offset-8">
                <p>Total</p>
            </div>
            <div class="col-2 cart-total">
                <p>Total Number</p>
                <button>Pay Now</button>
            </div>
        </div>
    </div> 
    <!--
        <div class="container text-center">
            <div class="row">
                <div class="col-8 offset-2 cart-header-empty">
                    <p>
                        Your Shopping Bag is Empty
                    </p>   
                    <hr>
                    <p class="md-font">Click <a href="{% url 'toys' %}">here</a> to continue Shopping
                    </p>      

                </div>
            </div>
        </div> 
    -->

    {% endif %}

{% endblock %}