{% extends "base.html" %}
{% load static %}

{% block content %}

    {% if item in cart %}

    {% else %}  
    <div class="container">
        <div class="row">
            <div class="col-12 cart-header">
                <p>
                    Shopping Bag
                </p>   
                <hr>   
            </div>
        </div>
        <div class="row cart-items">
            <div class="col-12">
                <p>Title</p>
            </div>
        </div>
    </div> 
    <!--
        <div class="container text-center">
            <div class="row">
                <div class="col-8 offset-2 cart-header-empty">
                    <p>
                        Your Shopping Bag is Empty
                    </p>   
                    <hr>
                    <p class="md-font">Click <a href="{% url 'toys' %}">here</a> to continue Shopping
                    </p>      

                </div>
            </div>
        </div> 
    -->

    {% endif %}

{% endblock %}