{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">     
{% endblock %}

{% block content %}
    <div class="container">  
        <!--Summary-->
        <div class="row">
            <div class="col-12 cart-header">
                <p>
                    My profile
                </p>   
                <hr class="cart-separator">   
            </div>
            {% for order in orders %}
            <div>
                {{ order.order_number }}
                {{ order.order_date }}
                {{ order.lineitems.all }}
            </div>
            {% endfor %}

            {% for item in order.lineitems.all %}
            <div>
                {{ item.toy.name }}
            </div>
            {% endfor %}


        </div>
    </div>

{% endblock %}
