/*Hero section*/
.image-hero {
    background-image: url("/static/images/landing/image-banner.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 75vh;
}

.banner-text {
    font-weight: 600;
    color: #8F793E;   
    margin-top: 15vh;
    margin-bottom: 5vh;
}

.banner-text-header{
    font-size: 5rem;
    text-transform: uppercase;
}

.banner-button {
    font-size: 2rem;
    font-weight: 600;
    color: #8F793E;
    text-transform: uppercase;
    border: 0.15rem solid #8F793E;
    padding: 0.5rem;
    margin-top: 3rem;
}

.banner-button:hover {
    color: #FFFFD9;
    background-color: #971328;
    text-decoration: none;
    border: 0.15rem solid #8F793E;
    box-shadow: 0.1rem 0.1rem 0.1rem #0f0f0f; 
}

.banner-button:active {
    box-shadow: 0.1rem 0.1rem 0.1rem #0f0f0f inset;
}

.landing-text span, .landing-text p {
    text-transform: uppercase;
    text-align: center;
}

.landing-text span {
    font-weight: 600;
}

.landing-decoration {
    border: 0.2rem solid #A3A3A3;
    padding: 0.5rem;
}

.landing-hor {
    display: flex;
    flex-direction: row; 

}

/*Code used from https://www.geeksforgeeks.org/how-to-make-horizontal-line-with-words-in-the-middle-using-css/*/
.landing-hor::before, .landing-hor::after {
    content: ""; 
    flex: 1 1; 
    border-bottom: 0.2rem solid #A3A3A3; 
    margin: auto; 
}

/*toys section owl carousel*/
.section-space {
    margin-top: 10vh;
}

.landing-toy-box-wrapper {
    display: block;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 35vh;
    margin-top: 3rem;
    
}

.landing-toy-box-wrapper a {
    font-weight: 600;
    color: #0f0f0f;
    text-decoration: none;
}

.landing-toy-box-wrapper:hover {
    border: 0.15rem solid #8F793E; 
    opacity: 0.8; 
}

.landing-toy-image-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 25vh; 
}

#toy-carousel div {
    filter: none !important;
}

/*Blog section*/
.owl-next, .owl-prev {
    color: #971328 !important;
    margin: 1rem !important;
    transform: scale(1.5) !important;
}

.owl-next:hover, .owl-prev:hover {
    color: #E52F4D !important;
    background-color: #ffff !important;
}

.owl-item {
    filter: blur(5px);
}

.owl-item.active.center {
    filter: none;
}

.landing-blog-box-wrapper {
    display: block;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0.3rem 0.3rem 0.5rem #A3A3A3;  
    border-radius: 0.2rem;
    width: 30vw;
    height: 50vh;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.landing-blog-box-wrapper a {
    font-weight: 500;
    color: #8F793E;
    text-decoration: none;
}

.landing-blog-box-wrapper, .landing-blog-box-wrapper a:hover {
    font-weight: 600;
    opacity: 0.8;  
}

.landing-blog-image-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35vh; 
    padding: 1.5rem;
}

.landing-blog-title {
    font-style: italic;
    text-transform: capitalize;
    padding: 1.5rem;
}

/*Payment*/
.payment-section {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.payment-method {
    font-size: 6rem;
}

.payment-method a:hover {
    color: #971328;
}

.visa {
    color: transparent;
    background: linear-gradient(#172274 50%, #fcb70a 50%);
    background-clip: text;
    -webkit-background-clip: text;    
}

.master-card {
    color: transparent;
    background: linear-gradient(#eb001b 0, #ff5f00
 50%, #f79e1b 100%);
    background-clip: text;
    -webkit-background-clip: text;    
}

.paypal {
    color: #3b7bbf ;
}

.stripe {
    color: #5433FF ;
}






/*Media screen max-width 1560px*/
@media only screen and (max-width: 1560px){
    .banner-text-header {
        font-size: 3.5rem;
    }

}


/*Media screen max-width 1200px*/
@media only screen and (max-width: 1200px){
    .banner-text-header {
        font-size: 2rem;
    }


/*Media screen max-width 767px*/
@media only screen and (max-width: 767px){
    .banner-text-header {
        font-size: 1.5rem;
    }



}


/*Media screen max-width 576px*/
@media only screen and (max-width: 576px){
    .banner-text-header {
        font-size: 0.85rem;
    }

    .banner-text {
        font-size: 0.75rem;
    }

    .banner-button {
        font-size: 0.75rem;
        padding: 0.1rem;
    }

    /*Toys*/
    .landing-text span {
        font-size: 1rem;
    }





}


/*Media screen max-height 414px*/
    @media only screen and (max-height: 414px){

}