{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}"> 
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">     
{% endblock %}

{% block content %}
    <div class="container">  
        <div class="row sm-font">
            <div class="col-12 checkout-header">
                <p>
                    Thank you for shopping with Big Brains!
                </p>
                <hr class="cart-separator"> 
            </div>
            <div class="col-12">
                <p>
                    Your order number is <span class="checkout-success-ordernumber">{{ order.order_number }}</span>
                </p>
                <p>
                    We have received your order and look forward to fulfil it as soon as possible
                </p>
                <a href="{% url 'toys' %}"> 
                    <button class="general-button checkout-success-button">
                        Back to Toys
                    </button>
                </a>
            </div>
        </div>
    </div> 




{% endblock %}

