{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">   
{% endblock %}

{% block content %}

    <div class="container sm-font">
        <div class="row">
            <div class="col-12 cart-header">
                <p>
                    Shopping Bag
                </p>   
                <hr class="cart-separator">   
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form action="{% url 'checkout' %}" method="POST" id="checkout-form">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Shipping Adddress</legend>
                        {{ order_form.first_name | as_crispy_field }}
                        {{ order_form.last_name | as_crispy_field }}       
                        {{ order_form.email_address | as_crispy_field }}  
                        {{ order_form.address | as_crispy_field }}   
                        {{ order_form.postcode | as_crispy_field }}  
                        {{ order_form.town | as_crispy_field }}  
                        {{ order_form.country | as_crispy_field }}
                    </fieldset>        
                </form>                
            </div>
        </div>
    </div>


{% endblock %}