/*Move to base.css*/
.cart-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 10vh;
    margin-bottom: 8rem;
}

.cart-separator{
    background-color: #971328;
    padding: 0.01rem;
    margin-top: 1rem;
}

.profile-order {
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.profile-order span {
    font-weight: 600;
}