/*Profile*/
.profile-order-wrapper {
    border: 0.1rem solid #0f0f0f;
}

.profile-order {
    text-transform: uppercase;
    margin-top: 10vh;
    margin-bottom: 3rem;
}

.profile-order span {
    font-weight: 600;
}