@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap:100,200,300,400,500,600,700');

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap:100,200,300,400,500,600,700');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap:100,200,300,400,500,600,700');

/*General styling*/
html {
    height: 100%;
}

body {
    background-color: #ffff;
    color: #0f0f0f;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin-top: 6rem;
}

.xs-font {
    font-size: 1rem;
}

.sm-font {
    font-size: 1.25rem;
}

.md-font {
    font-size: 1.5rem;
}

.lg-font{
    font-size: 2rem;
}


/*Navigation menu*/
nav {
    height: 6rem;
}

.navbar-brand {
    font-family:'Prata', serif;
    font-weight: 600;
    font-size: 3rem;
}

.nav-color {
    background-color: #971328;
}

.nav-color a {
    color: #ffffff;
}

.navbar-separator {
    background-color: #A3A3A3;
    padding: 0.1rem;
    margin: 0;
}

.cart-icon-quantity {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: #FFFFD9;
    background-color: #E52F4D;
    display: inline-block;    
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
}

#logo {
    color: #ECECB1;
}


/*Scroll to top button*/
#scroll-top-button {
    font-size: 1.5rem;
    color: #FFFFD9;
    background-color: #b9acae;
    opacity: 0.9;
    position: fixed;
    z-index: 9999;
    bottom: 5rem;
    right: 3rem;
    border: 0.15rem solid #AB8E66;
    border-radius: 0.1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #0f0f0f;     
    padding: 0.5rem 0.75rem 0.5rem 0.75rem; 
}

#scroll-top-button:active {
    box-shadow: 0.1rem 0.1rem 0.1rem #0f0f0f inset; 
}

/*Toasts messages*/
.message-container {
    position: fixed;
    top: 7rem;
    right: 1rem;
    z-index: 9999;
}

.toast-message-control {
    font-weight: 600;
    text-transform: uppercase;
    color: #0f0f0f;
    background-color: #ECECB1;
}

.toast-message-image {
    width: 8rem;
    height: 5rem;
}


/*Login/Logout/Signup*/

.login-header {
    color: #971328;
    margin-top: 5rem;
}

.test {
    color: #971328;
    text-transform: uppercase;
}


/*Footer*/

footer {
    background-color:#CFCFCF;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

footer a {
    font-weight: 600;
    color: #0f0f0f;    
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.75rem;
}

/*Footer links*/
.footer-link-wrapper {
    margin-top: 1rem;
}

.footer-links {
    padding-top: 1rem;
}

.footer-links a:hover {
    color: #971328;
    text-decoration: none;
}


a.bottom:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.bottom
{
    position: relative;
}

a.bottom:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}



a.bottom:hover:before {
  visibility: visible;
  height: 3px;
}


/*Social media links*/

.social-media-wrapper{
    margin-top: 1rem;
}

.social-media-header {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.social-media {
    font-size: 2.5rem;
    color: #971328;
}

.copyright {
    margin-top: 5rem;
}


/*Contact form*/
.contact-form {
    display: none;
    position: fixed;
    top: 10vh;
    left: 25%;
    width: 50%;
    text-transform: uppercase;
    font-weight: 500;
    color: #ECECB1;
    background-color: #971329fa;    
    border: 0.2rem solid  #AB8E66;
    padding: 2rem;
    margin-top: 5rem;
}

.contact-form h1 {
    margin-bottom: 2rem;
}

.contact-form label {
    margin-top: 1rem;
}

.contact-form input, .contact-form textarea {
    background-color:  #ffffff;
}

.contact-form input:hover, .contact-form textarea:hover {
    background-color: #fce9e9ec;
}

.contact-form-input {
    text-transform: none;
    color: black;
    font-weight: 600;
}

.contact-form a {
    color: #ECECB1;
}

.contact-form a:hover {
    color: #AB8E66;
}

#contact-button {
    margin-top: 1rem;
}




/*404 & 500 styling*/
.image-bg-error {
    background-image: url("/static/images/error/image-error.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.error-header{
    font-size: 7rem;
    padding-top: 10vh;
    margin-bottom: 4rem;
}

.error-content{
    text-align: center;
}

.error-link{
    color: #FFFFD9;
    background-color: #971328;
}

.error-link:hover{
    background-color: #971329e1;
}

.error-link:active{
    box-shadow: 0.3rem 0.3rem 0.1rem rgb(10, 10, 10) inset; 
}

.error-link p{
    text-align: center;
    border: 0.2rem solid #AB8E66;   
    padding: 1rem;
    margin-top: 3rem;
}

.error-text a:hover {
    text-decoration: none;
}
