/*404 & 500 styling*/
.image-bg-error {
    background-image: url("/static/images/error/image-error.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.error-header{
    font-size: 7rem;
    padding-top: 10vh;
    margin-bottom: 4vh;
}

.error-content{
    text-align: center;
}

.error-link{
    color: #FFFFD9;
    background-color: #971328;
}

.error-link:hover{
    background-color: #971329e1;
}

.error-link:active{
    box-shadow: 0.3rem 0.3rem 0.1rem rgb(10, 10, 10) inset; 
}

.error-link p{
    text-align: center;
    border: 0.2rem solid #AB8E66;   
    padding: 1rem;
    margin-top: 3vh;
}

.error-text a:hover {
    text-decoration: none;
}



/*Media screen max-width 1200px*/
@media only screen and (max-width: 1200px){
    .error-header{
        font-size: 5rem;
        padding-top: 5vh;
        margin-bottom: 4vh;
    }

    .md-font {
        font-size: 1.25rem;
    }

    .error-link p{  
        padding: 0.5rem;
    }

}

/*Media screen max-width 767px*/
@media only screen and (max-width: 767px){
    .image-bg-error {
       margin-top: -4vh;
    }
}


/*Media screen max-width 576px*/
@media only screen and (max-width: 576px){
    .image-bg-error {
       margin-top: -6vh;
    }

    .error-header{
        font-size: 4rem;
        padding-top: 5vh;
        margin-bottom: 4vh;
    }

    .md-font {
        font-size: 1rem;
    }

    .error-link p{  
        padding: 0.5rem;
    }
}


/*Media screen max-height 414px*/
    @media only screen and (max-height: 414px){
    .image-bg-error {
       margin-top: -10vh;
    }

    .error-header{
        font-size: 4rem;
        padding-top: 5vh;
        margin-bottom: 4vh;
    }

    .md-font {
        font-size: 1rem;
    }

    .error-link p{  
        padding: 0.5rem;
    }

}


