/*All toys*/
.toypage-header {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.toy-box {
    color: #0f0f0f;
    text-decoration: none;
    text-align: center;
    width: 20rem;
    height: 30rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.toy-box:hover {
    color: #0f0f0f;
}

.toy-image {
    display: block;
    width: 100%;
    height: auto;
}

.toy-name {
    font-weight: 600;
}

.toy-price {
    font-weight: 500;
}


.buy-button {
    border-radius: 0.2rem;
}

/*Toy detail*/
.quantity button {
    padding: 0.4rem 0.75rem 0.4rem 0.75rem;
    margin-bottom: 1rem;
}



/*Toy review*/
.review button{
    margin-bottom: 1rem;

}


/*Cart*/
.cart-header {
    font-size: 3rem;
    font-weight: 300;
    margin-top: 10vh;
    margin-bottom: 8rem;
}

.cart-separator{
    background-color: #971328;
    padding: 0.01rem;
    margin-top: 1rem;
}

.cart-items {
    margin-bottom: 5rem;
}

.cart-total {
    margin-bottom: 5rem;
}










.cart-header-empty {
    font-size: 3rem;
    font-weight: 300;
    margin-top: 15vh;
    margin-bottom: 20rem;
}

.cart-header-empty hr {
    background-color: #971328;
    padding: 0.05rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.cart-header-empty a {
    color: #AB8E66;
    font-style: italic;
    text-decoration: underline;
}

.cart-header-empty a:hover {
    font-weight: 900;
}

.cart-header-empty a:active {
    color: #971328 ;
}







