/*All toys*/
.toypage-header {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.toy-box {
    text-align: center;
    width: 20rem;
    height: 30rem;
    padding: 1rem;
    margin: 2rem;
}

.toy-image {
    display: block;
    width: 100%;
    height: auto;
}


/*Toy detail*/