/*All toys*/
.toypage-header {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.toy-box {
    color: #0f0f0f;
    text-decoration: none;
    text-align: center;
    width: 20rem;
    height: 30rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.toy-box:hover {
    color: #0f0f0f;
}

.toy-image {
    display: block;
    width: 100%;
    height: auto;
}

.toy-name {
    font-weight: 600;
}

.toy-price {
    font-weight: 500;
}


.buy-button {
    border-radius: 0.2rem;
}

/*Toy detail*/
.quantity-input {
    margin-bottom: 1rem;
}

.add-to-cart-button {
    margin-bottom: 1rem;
}

/*Toy review*/
.review button{
    margin-bottom: 1rem;

}


/*Cart*/
.cart-header {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 10vh;
    margin-bottom: 8rem;
}

.cart-separator{
    background-color: #971328;
    padding: 0.01rem;
    margin-top: 1rem;
}

.cart-items-header {
    text-align: center;
    margin-bottom: 2rem;
}

.cart-items {
    text-align: center;
    margin-bottom: 4rem;
}

.cart-item-header {
    font-size: 1.25rem;
    font-weight: 600;
}

.cart-total {
    text-align: center;
    font-weight: 600;
    margin-bottom: 5rem;
}

.cart-quantity input {
    text-align: center;
    width: 2rem;
    
}

/*Remove arrow from input. Code used from https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-update-button {
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #FFFFD9;  
    border-radius: 0.2rem;
    margin-left: 1rem;
}

.cart-update-button:active {
    box-shadow: 0.05rem 0.05rem 0.05rem #0f0f0f inset;     
}

.cart-delete-button {
    font-size: 1.25rem;    
    color: #971328;
    border: none;
    background: none;
    padding: 0;
}

.cart-delete-button:active {
    color: #E52F4D;
}


/*Cart empty CSS*/
.cart-header-empty {
    font-size: 3rem;
    font-weight: 300;
    margin-top: 15vh;
    margin-bottom: 20rem;
}

.cart-header-empty hr {
    background-color: #971328;
    padding: 0.05rem;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.cart-header-empty a {
    color: #AB8E66;
    font-style: italic;
    text-decoration: underline;
}

.cart-header-empty a:hover {
    font-weight: 900;
}

.cart-header-empty a:active {
    color: #971328 ;
}







