/*All blogs page*/
.blog-header {
    margin-top: 25vh;
    margin-bottom: 8vh;
}

.blog-header a {
    font-style: italic;
    font-weight: 600;
    color: #AB8E66;
    text-transform: capitalize;
}

.blog-header a:hover {
    text-decoration: none;
    border-bottom: 0.15rem solid #AB8E66;
}

.blog-pagetitle {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #971328;     
    border-bottom: 0.15rem solid #AB8E66;   
}

.blog-box {
    text-decoration: none;
    border: 0.13rem solid #A3A3A3;  
    box-shadow: 0.3rem 0.3rem 0.5rem #A3A3A3;  
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.blog-box:hover {
    box-shadow: 0.3rem 0.3rem 0.5rem #AB8E66;  
}

.blog-box:hover a {
    text-decoration: none;
}

.blog-image {
    display: block;
    padding: 1rem;
    width: 20vw;
    height: 30vh;
}

.blog-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.blog-control a {
    font-weight: 600;
    color: #E52F4D;
    text-transform: uppercase;
}

.blog-control a:hover {
    border-bottom: 0.15rem solid #E52F4D;
}

.blog-title {
    font-weight: 600;
    color: #E52F4D;
}

.blog-description {
    font-style: italic;
    font-weight: 500;
    color: #971328;
}

.blog-author {
    font-weight: 900;
    color: #AB8E66;
}

#blog-link {
    color: #971328;
}

#blog-link:hover {
    text-decoration: none;
}


/*blog detail*/

.blogpage-detail-header {
    font-size: 3rem;
    font-style: italic;
    font-weight: 900;
    color: #971328;
    text-align: center;
    margin-top: 8rem;
}

.blog-detail-image {
    display: block;
    width: 100%;
    height: 25rem;
    margin-top: 5rem;
}

.blog-detail-author {
    font-weight: 900;
    color: #AB8E66;    
    margin-top: 3rem;
}

.blog-detail-date { 
    font-weight: 900;
    color: #A3A3A3;
}

.blog-detail-article {
    margin-top: 3rem;
    margin-bottom: 30vh;
}


/*Blog add*/

.blog-add-wrapper {
    width: 75%;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.blog-add-wrapper label { 
    font-weight: 600;    
    color: #971328;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.blog-add-wrapper input, .blog-add-wrapper textarea {
    font-style: italic;
}

.blog-add-header {
    font-size: 2.5rem;
    font-weight: 500;
    color: #971328;     
    text-transform: capitalize;
    border-bottom: 0.15rem solid #AB8E66;   
    margin-bottom: 3rem;
}

.blog-add-button {
    padding: 0.25rem;
    margin-bottom: 5rem;
}

/*Blog edit*/
.blog-delete-button {
    padding: 0.25rem;
    margin-left: 10vw;
}

.blog-delete-button:hover {
    color: #FFFFD9;
    text-decoration: none;
    opacity: 0.9;
}






/*Media screen max-width 1560px*/
@media only screen and (max-width: 1560px){
    .blog-image {
        width: 35vw;
        height: 30vh;
    }    
}


/*Media screen max-width 1200px*/
@media only screen and (max-width: 1200px){
    .blog-pagetitle {
        font-size: 2.5rem; 
    }   

    .blog-header {
        margin-top: 15vh;
        margin-bottom: 5vh;
    }    
    
    .blog-image {
        width: 30vw;
        height: 30vh;
    }    

}

/*Media screen max-width 767px*/
@media only screen and (max-width: 767px){
    .md-font {
        font-size: 1rem;
    }

    .sm-font {
        font-size: 1rem;
    }

    .blog-pagetitle {
        font-size: 2rem; 
    }

    .blog-image {
        width: 100%;
    }    

}


/*Media screen max-width 576px*/
@media only screen and (max-width: 576px){
    .blog-pagetitle {
        font-size: 1.5rem; 
    }
}


/*Media screen max-height 414px*/
    @media only screen and (max-height: 414px){
    .md-font {
        font-size: 1rem;
    }
            
    .blog-pagetitle {
        font-size: 1.5rem; 
    }

    .blog-image {
        height: 75vh;
    }


}
