{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row blogpage-header md-font">
        <div class="col-8">
            <p class="blogpage-title">Educational Blogs</p>
            <p>
                Read the latest blogs from educators or parents with experience and learn what is best for your children. If you have any questions about these articles, please contact don't hesitate to us.
            </p> 
        </div>
        <hr class="blogpage-separator">
    </div>
    {% for blog in blogs %}   
    <a href="" class="blog-link">
        <div class="row blog-box">
            {% if blog.image %}            
                <div class="col-6">
                    <img src="../media/{{ blog.image }}" class="blog-image" 
                    alt="{{ blog.title }}">
                </div>
            {% else %}  
                <div class="col-6">
                    <img src="../media/no_image_available.jpg" class="blog-image" alt="no image">
                </div>                
            {% endif %}
            <div class="col-6">
                <p class="blog-title lg-font">{{ blog.title }}</p>          
                <p class="blog-description md-font">{{ blog.description }}</p> 
                <p class="blog-author sm-font">by {{ blog.author }}</p>
            </div>    
        </div>  
    </a>                   
    {% endfor %}         
</div>

{% endblock %}