{% extends "base.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'blogs/css/blogs.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="{% url 'blog_edit' blog.id %}" method="POST" id="blog-add-form">
                {% csrf_token %}
                <fieldset class="blog-add-wrapper">
                    <legend class="blog-add-header">Write your article</legend>
                    {{ blog_form.image_url | as_crispy_field }} 
                    {{ blog_form.title | as_crispy_field }}    
                    {{ blog_form.author_friendly | as_crispy_field }}
                    {{ blog_form.description | as_crispy_field }}      
                    {{ blog_form.article | as_crispy_field }}
                </fieldset>
                <div>
                    <button class="general-button blog-add-button">
                        <i class="far fa-edit"></i> Edit your article
                    </button>
                    <a class="general-button blog-delete-button"   href="{% url 'blog_delete' blog.id %}">
                        <i class="far fa-trash-alt"></i> Delete
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}