{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'blogs/css/blogs.css' %}">   
{% endblock %}

{% block content %}

<div class="container">
    <div class="row blog-header md-font">
        <div class="col-8">
            <p class="blog-pagetitle">Educational Blogs</p>
            <p>
                Read the latest blogs from educators or parents with experience and learn what is best for your children. If you have any questions about these articles, please contact don't hesitate to us.
            </p> 
            <a href="{% url 'blog_add' %}">Write your article</a>
        </div>
    </div>
    {% for blog in blogs %}   
    <a href="{% url 'blog_detail' blog.id %}" class="blog-link">
        <div class="row blog-box">
            {% if blog.image_url %}            
                <div class="col-6">
                    <img src="{{ blog.image_url }}" class="blog-image" 
                    alt="{{ blog.title }}">
                </div>
            {% else %}  
                <div class="col-6">
                    <img src="{{ MEDIA_URL }}no_image_available.jpg" class="blog-image" alt="no image">
                </div>                
            {% endif %}
            <div class="col-7">
                <p class="blog-title lg-font">{{ blog.title }}</p>          
                <p class="blog-description md-font">{{ blog.description }}</p> 
                <p class="blog-author sm-font">by {{ blog.author_friendly }}</p>
                {% if blog.author == request.user %}
                    <a href="">Edit</a>
                    <a href="{% url 'blog_delete' blog.id %}">Delete</a>
                {% endif %}
            </div>    
        </div>  
    </a>                   
    {% endfor %}         
</div>

{% endblock %}