/*All toys*/
.toypage-header {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.toypage-header a {
    color: #971328;
}

.toypage-header a:hover {
    color: #E52F4D;
    font-weight: 600;
    text-decoration: none;
}

.toy-filter-button {
    font-weight: 500;
    color: #FFFFD9;
    background-color: #971328;
    border: 0.1rem solid #AB8E66;
    text-transform: uppercase;
}

.toy-filter-button:hover {
    font-weight: 500;
    color: #ffff;
    background-color: #971328;
    border: 0.1rem solid #AB8E66;
    text-transform: uppercase;
}

.dropdown-menu {
    text-align: center;
    background-color: #ECECB1;
}

.dropdown-menu a {
    color: #0f0f0f;
}

.toy-box-wrapper {
    margin-bottom: 5rem;
}

.toy-box {
    color: #0f0f0f;
    text-decoration: none;
    text-align: center;
    width: 20rem;
    height: 30rem;
    padding: 1rem;
}

.toy-box:hover {
    font-weight: 900;
    color: #971328;
    text-decoration: none;
}

.toy-image {
    display: block;
    width: 100%;
    height: 30vh;
}

.toy-name {
    font-weight: 600;
}

.toy-price {
    font-weight: 600;
}

.buy-button {
    border-radius: 0.2rem;
}

.toys-count-zero {
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20vh;
    height: 60vh;
    width: 100%;
}

/*Toy detail*/
.quantity-input {
    margin-bottom: 1rem;
}

.add-to-cart-button {
    margin-bottom: 1rem;
}

/*Toy review*/
.review button{
    margin-bottom: 1rem;

}
