/*All toys*/
.toypage-header {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 5vh;
}

.toypage-header a {
    color: #971328;
}

.toypage-header a:hover {
    color: #E52F4D;
    font-weight: 600;
    text-decoration: none;
}

.toy-filter-button {
    font-weight: 600;
    color: #0f0f0f;
    background-color: #ffff;
    border: 0.1rem solid #ffff;
    text-transform: uppercase;
    margin-top: 0;
    
}

.toy-filter-button:hover {
    font-weight: 600;
}

.dropdown-menu {
    text-align: center;
    background-color: #ffff;
}

.dropdown-menu a {
    color: #0f0f0f;
}

.toy-box-wrapper {
    margin-bottom: 5rem;
}

.toy-box {
    color: #0f0f0f;
    text-decoration: none;
    text-align: center;
    width: 20rem;
    height: 30rem;
    padding: 1rem;
}

.toy-box:hover {
    font-weight: 900;
    color: #971328;
    text-decoration: none;
}

.toy-image {
    display: block;
    width: 100%;
    height: auto;
}

.toy-name {
    font-weight: 600;
    text-transform: uppercase;
}

.toy-price {
    font-weight: 600;
    margin-bottom: 0;
}

.add-to-cart-form {
    text-align: center;
}

.toys-count-zero {
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20vh;
    height: 60vh;
    width: 100%;
}


/*Toy detail*/
.quantity-input-header {
    margin-top: 2rem;
    font-weight: 600;
}

.quantity-input input {
    text-align: center;
    margin-bottom: 2rem;    
}

/*Toy review*/
.review {
    font-style: italic;
}

.review-header {
    font-size: 2rem;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.review-wrapper {
    width: 50%;    
    border: 0.1rem solid #0f0f0f;
    border-radius: 0.2rem;
    background-color: #FFFFD9;
    box-shadow: 0.05rem 0.05rem 0.05rem #0f0f0f;    
    padding: 1rem;
    margin-bottom: 2rem;
}

.review-comment {
    font-weight: 500;
}

.review-name {
    font-weight: 600;
}

.review-form {
    width: 50%;
    margin-top: 5rem;
}

.review-add-button {
    padding: 0.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.review-delete {
    font-weight: 600;  
    text-transform: uppercase;
    color: #971328;
    border: none;
    background: none;
    padding: 0;
}

.review-login {
    text-transform: capitalize;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.review-login a {
    color: #971328;
    font-weight: 600;
}






/*Media screen max-width 1560px*/
@media only screen and (max-width: 1560px) {


}


/*Media screen max-width 1200px*/
@media only screen and (max-width: 1200px){

}

/*Media screen max-width 767px*/
@media only screen and (max-width: 767px){
    .toy-name, .toy-price {
        font-size: 1.25rem;
    }

    .toypage-header, .dropdown-menu {
        font-size: 0.75rem;
    }

}


/*Media screen max-width 576px*/
@media only screen and (max-width: 576px){


}


/*Media screen max-height 414px*/
    @media only screen and (max-height: 414px){
    .toy-name, .toy-price {
        font-size: 1rem;
    }

}

