/*All toys*/
.toypage-header {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.toypage-header a {
    color: #971328;
}

.toypage-header a:hover {
    color: #E52F4D;
    font-weight: 600;
    text-decoration: none;
}

.toy-filter-button {
    font-weight: 600;
    color: #0f0f0f;
    background-color: #ffff;
    border: 0.1rem solid #ffff;
    text-transform: uppercase;
    padding: 0.25rem;
}

.toy-filter-button:hover {
    font-weight: 600;
}

.dropdown-menu {
    text-align: center;
    background-color: #ffff;
}

.dropdown-menu a {
    color: #0f0f0f;
}

.toy-box-wrapper {
    margin-bottom: 5rem;
}

.toy-box {
    color: #0f0f0f;
    text-decoration: none;
    text-align: center;
    width: 20rem;
    height: 30rem;
    padding: 1rem;
}

.toy-box:hover {
    font-weight: 900;
    color: #971328;
    text-decoration: none;
}

.toy-image {
    display: block;
    width: 100%;
    height: auto;
}

.toy-name {
    font-weight: 600;
    text-transform: uppercase;
}

.toy-price {
    font-weight: 600;
    margin-bottom: 0;
}

.add-to-cart-form {
    text-align: center;
}

.toys-count-zero {
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20vh;
    height: 60vh;
    width: 100%;
}


/*Toy detail*/
.quantity-input-header {
    margin-top: 2rem;
    font-weight: 600;
}

.quantity-input input {
    text-align: center;
    margin-bottom: 2rem;    
}

/*Toy review*/
.review {
    font-style: italic;
}

.review-header {
    font-size: 2rem;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.review-wrapper {
    width: 50%;    
    border: 0.1rem solid #0f0f0f;
    border-radius: 0.2rem;
    background-color: #ECECB1;
    padding: 1rem;
    margin-bottom: 2rem;
}

.review-comment {
    font-weight: 500;
}

.review-name {
    font-weight: 600;
}

.review button{
    margin-bottom: 1rem;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.delete-review {
    font-size: 1.25rem;  
    font-weight: 600;  
    text-transform: uppercase;
    color: #971328;
    border: none;
    background: none;
    padding: 0;
}