{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'landing/css/index.css' %}">   
{% endblock %}

{% block content %}
    <div class="image-hero">        
        <div class="container-fluid">
            <div class="row">
                <div class="col-5 offset-1 banner-text xs-font" data-aos="fade-right" data-aos-easing="ease-in" data-aos-duration="1000">
                    <p class="banner-text-header">
                        Educational toys
                    </p>
                    <p>Learning through play is an essential part of growing up. Children develop and refine their motorized skills by using their hands and brains. Shop now and find the best Educational Toys at Big Brains. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-1" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="1000">
                    <a href="{% url 'toys' %}" class="banner-button">
                        Shop Now
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container landing-text lg-font mx-auto">
        <div class="row section-space">
            <div class="col-12 landing-hor"  data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="1500">
                <span class="landing-decoration">Shop Now</span>
            </div>                
        </div>     
        <div class="row landing-image">
            <div class="col-4">
                <a href="">
                    <div class="image-product-1 image-wrapper" data-aos="zoom-in-left" 
        data-aos-duration="2000">
                    </div>
                </a>
            </div>
            <div class="col-4">
                <div class="image-product-2 image-wrapper" data-aos="zoom-in-up" 
     data-aos-duration="2000"></div>
            </div>                
            <div class="col-4">
                <div class="image-product-3 image-wrapper" data-aos="zoom-in-right" 
     data-aos-duration="2000"></div>
            </div>                
        </div>   
        <div class="row section-space">
            <div class="col-12 landing-hor" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="1500">
                <span class="landing-decoration">Big Brain's Blogs</span>
            </div>                
        </div>    
        <div class="row landing-image">
            <div class="col-4">
                <div class="image-blog-1"></div>
            </div>
            <div class="col-4">
                <div class="image-blog-1"></div>
            </div>                
            <div class="col-4">
                <div class="image-blog-1"></div>
            </div>                
        </div>  
        <div class="row section-space">
            <div class="col-12 landing-hor" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="1500">
                <span class="landing-decoration">Pay easy with</span>
            </div>                
        </div>       
        <div class="row payment-section">
            <div class="col-4"></div>   
            <div class="col-1" data-aos="flip-up" data-aos-duration="1500">
                <a href="https://www.visa.co.uk/" class="payment-method" target="_blank" rel="noopener">
                <i class="fab fa-cc-visa"></i>
                <span class="sr-only">visa</span>
                </a>
            </div>  
            <div class="col-1" data-aos="flip-up" data-aos-duration="2000">
                <a href="https://www.mastercard.co.uk/en-gb.html" class="payment-method" target="_blank" rel="noopener">
                <i class="fab fa-cc-mastercard"></i>
                <span class="sr-only">mastercard</span>
                </a>
            </div>
            <div class="col-1" data-aos="flip-up" data-aos-duration="2500">
                <a href="https://stripe.com/en-gb" class="payment-method" target="_blank" rel="noopener">
                <i class="fab fa-cc-stripe"></i>
                <span class="sr-only">stripe</span>
                </a>
            </div>   
            <div class="col-1" data-aos="flip-up" data-aos-duration="3000">
                <a href="https://www.paypal.com/uk/home" class="payment-method" target="_blank" rel="noopener">
               <i class="fab fa-cc-paypal"></i>
                <span class="sr-only">paypal</span>
                </a>
            </div>     
            <div class="col-4"></div>                                                             
        </div>                             
    </div>




{% endblock %}