{% extends "base.html" %}
{% load static %}
{% include "toys.html" %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'landing/css/index.css' %}">      

    <!--Owl carousel CDN & CSS-->
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" />

    <!--Glide js carousel-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.min.css" integrity="sha512-YQlbvfX5C6Ym6fTUSZ9GZpyB3F92hmQAZTO5YjciedwAaGRI9ccNs4iw2QTCJiSPheUQZomZKHQtuwbHkA9lgw==" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.theme.min.css" integrity="sha512-wCwx+DYp8LDIaTem/rpXubV/C1WiNRsEVqoztV0NZm8tiTvsUeSlA/Uz02VTGSiqfzAHD4RnqVoevMcRZgYEcQ==" crossorigin="anonymous"/>
    
{% endblock %}

{% block content %}
    <div class="image-hero">        
        <div class="container-fluid">
            <!--Banner-->
            <div class="row">
                <div class="col-6 col-lg-7 offset-1 banner-text xs-font" data-aos="fade-right" data-aos-easing="ease-in" data-aos-duration="1000">
                    <p class="banner-text-header">
                        Educational toys
                    </p>
                    <p>Learning through play is an essential part of growing up. Children develop and refine their motorized skills by using their hands and brains. Shop now and find the best Educational Toys at Big Brains. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-1" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="1000">
                    <a href="{% url 'toys' %}" class="banner-button">
                        Shop Now
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container landing-text lg-font mx-auto">
        <!--Toys-->
        <div class="row section-space">
            <div class="col-12 landing-hor"  data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="1500">
                <span class="landing-decoration">Shop Now</span>
            </div>                
        </div>  
        <!--Toys carousel-->
        <div class="row owl-carousel owl-theme" id="toy-carousel">
            {% for toy in toys %}  
                <div class="col-12 landing-toy-box-wrapper" >
                    <a href="{% url 'toy_detail' toy.id %}" class="mx-auto" target="_blank">  
                        {% if toy.image %}            
                            <div>
                                <img src="{{ MEDIA_URL }}{{ toy.image }}" class="landing-toy-image-wrapper" 
                                alt="{{ toy.name }}">
                            </div>
                        {% else %}  
                            <div>
                                <img src="{{ MEDIA_URL }}no_image_available.jpg"  class="landing-toy-image-wrapper" alt="no image">
                            </div>                
                        {% endif %}
                        <div class="sm-font">
                            {{ toy.name }}
                        </div>                              
                        <div class="sm-font">
                            £{{ toy.price }}
                        </div>  
                    </a>                           
                </div>
            {% endfor %}    
        </div>
        <div class="row section-space">
            <!--Blogs-->
            <div class="col-12 landing-hor" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="1500">
                <span class="landing-decoration">Big Brain's Blogs</span>
            </div>                
        </div>    
        <!--Blogs carousel-->
        <div class="row owl-carousel owl-theme" id="blog-carousel">
            {% for blog in blogs %}  
                <div class="col-12 landing-blog-box-wrapper mx-auto">
                    <a href="{% url 'blog_detail' blog.id %}" target="_blank">  
                        <div class="landing-blog-title sm-font">
                            "{{ blog.title }}"
                        </div>                                                  
                        {% if blog.image_url %}            
                            <div>
                                <img src="{{ blog.image_url }}" class="landing-blog-image-wrapper" 
                                alt="{{ blog.name }}">
                            </div>
                        {% else %}  
                            <div>
                                <img src="{{ MEDIA_URL }}no_image_available.jpg"  class="landing-blog-image-wrapper" alt="no image">
                            </div>                
                        {% endif %}                   
                    </a>
                </div>
            {% endfor %}    
        </div>

        <div class="row section-space">
            <div class="col-12 landing-hor" data-aos="fade-up" data-aos-easing="ease-in" data-aos-duration="1500">
                <span class="landing-decoration">Pay easy with</span>
            </div>                
        </div>       
        <!--Payment methods-->
        <div class="row payment-section"> 
            <div class="col-2 offset-2 payment-method" data-aos="flip-up" data-aos-duration="1500">
                <a href="https://www.visa.co.uk/" class="visa" target="_blank" rel="noopener">
                <i class="fab fa-cc-visa"></i>
                <span class="sr-only">visa</span>
                </a>
            </div>  
            <div class="col-2 payment-method" data-aos="flip-up" data-aos-duration="2000">
                <a href="https://www.mastercard.co.uk/en-gb.html" class="master-card" target="_blank" rel="noopener">
                <i class="fab fa-cc-mastercard"></i>
                <span class="sr-only">mastercard</span>
                </a>
            </div>
            <div class="col-2 payment-method" data-aos="flip-up" data-aos-duration="2500">
                <a href="https://stripe.com/en-gb" class="stripe" target="_blank" rel="noopener">
                <i class="fab fa-cc-stripe"></i>
                <span class="sr-only">stripe</span>
                </a>
            </div>   
            <div class="col-2 payment-method" data-aos="flip-up" data-aos-duration="3000">
                <a href="https://www.paypal.com/uk/home" class="paypal" target="_blank" rel="noopener">
               <i class="fab fa-cc-paypal"></i>
                <span class="sr-only">paypal</span>
                </a>
            </div>                                                              
        </div>                             
    </div>

{% endblock %}


{% block extrajs %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>       

{% endblock %}