{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'landing/css/index.css' %}">   
{% endblock %}

{% block content %}
    <div class="image-hero">        
        <div class="container">
            <div class="row mx-auto">
                <div class="col-8 offset-2 banner-text">
                    <p>Educational Toys for Children</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container landing-text lg-font mx-auto">
        <div class="row section-space">
            <div class="col-12 landing-hor">
                <span class="landing-decoration">Shop Now</span>
            </div>                
        </div>     
        <div class="row landing-image">
            <div class="col-4">
                <div class="image-product-1"></div>
            </div>
            <div class="col-4">
                <div class="image-product-2"></div>
            </div>                
            <div class="col-4">
                <div class="image-product-3"></div>
            </div>                
        </div>   
        <div class="row section-space">
            <div class="col-12 landing-hor">
                <span class="landing-decoration">Big Brain's Blogs</span>
            </div>                
        </div>    
        <div class="row landing-image">
            <div class="col-4">
                <div class="image-blog-1"></div>
            </div>
            <div class="col-4">
                <div class="image-blog-1"></div>
            </div>                
            <div class="col-4">
                <div class="image-blog-1"></div>
            </div>                
        </div>  
        <div class="row section-space">
            <div class="col-12 landing-hor">
                <span class="landing-decoration">Pay easy with</span>
            </div>                
        </div>       
        <div class="row payment-section">
            <div class="col-4"></div>   
            <div class="col-1">
                <a href="" class="payment-method" target="_blank" rel="noopener">
                <i class="fab fa-cc-visa"></i>
                <span class="sr-only">visa</span>
                </a>
            </div>  
            <div class="col-1">
                <a href="" class="payment-method" target="_blank" rel="noopener">
                <i class="fab fa-cc-mastercard"></i>
                <span class="sr-only">mastercard</span>
                </a>
            </div>
            <div class="col-1">
                <a href="" class="payment-method" target="_blank" rel="noopener">
                <i class="fab fa-cc-stripe"></i>
                <span class="sr-only">stripe</span>
                </a>
            </div>   
            <div class="col-1">
                <a href="" class="payment-method" target="_blank" rel="noopener">
               <i class="fab fa-cc-paypal"></i>
                <span class="sr-only">paypal</span>
                </a>
            </div>     
            <div class="col-4"></div>                                                             
        </div>                             
    </div>




{% endblock %}