/*
Code is tweaked to match to the website's theme, but mainly used from CI checkout lesson which is derived from Stripe website: https://stripe.com/docs/payments/accept-a-payment?integration=elements
*/

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    font-weight: 600;
    margin-bottom: 1.5rem;
}

#payment-form .form-control,
#card-element {
    color: #0f0f0f;
    border: 0.1rem solid #CFCFCF;
    border-radius: 0.2rem;
}

.checkout-payment-card {
    width: 100%;
    margin-top: 3rem;
}

/*Checkout*/
.checkout-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 10vh;
    margin-bottom: 8vh;
}

.checkout-form-header {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.checkout-continue {
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.checkout-continue a {
    color: #971328;
}

.checkout-continue a:hover {
    font-weight: 600;
    color: #E52F4D;
    text-decoration: none;
}

.checkout-buy-button {
    margin-right: 1rem;
    padding: 0.25rem;
}


/*Code used form CI profile lesson*/
select,
select option {
    color: #0f0f0f;
}

select:invalid {
    color: #aab7c4;
}

/*Loading overlay*/
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(100, 3, 3, 0.384) ;
    z-index: 9999;
}

.loading-icon {
    color: #aab7c4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/*Checkout success*/

.checkout-success-ordernumber {
    font-weight: 600;
}

.checkout-success-button {
    padding: 0.25rem;
    margin-top: 3rem;
    margin-bottom: 30vh;
}






/*Media screen max-width 1560px*/
@media only screen and (max-width: 1560px){


}


/*Media screen max-width 1200px*/
@media only screen and (max-width: 1200px){
   

}

/*Media screen max-width 767px*/
@media only screen and (max-width: 767px){
    .checkout-header {
        font-size: 2rem;
    }

    .checkout-continue {
        font-size: 1rem;
    }

    .cart-items {
        margin-top: 0;
    }

    .cart-hide {
        display: none;
    }

    #submit-button {
        font-size: 1rem;
    }

    /*Checkout Success*/
    .checkout-success-button { 
        font-size: 1rem;
    }

}


/*Media screen max-width 576px*/
@media only screen and (max-width: 576px){
    .checkout-header {
        font-size: 1.5rem;
        margin-top: 3vh;
        margin-bottom: 5vh;
    }
        
    .checkout-continue {
        font-size: .9rem;
    }

    .cart-items {
        font-size: 0.75rem;
    }

    .cart-total p {
        font-size: 1rem;
    }

    .cart-image {
        display: block;
        width: 100%;
        height: auto;
    }

    /*Checkout success*/
    .checkout-success-message {
        font-size: 1rem;
    }

}


/*Media screen max-height 414px*/
    @media only screen and (max-height: 414px){



}
